openapi: 3.0.3
info:
  title: Figshare altmetric articles API
  description: Figshare API v2 - Full REST API documentation for managing articles, collections, projects and more.
  version: '2.0'
  contact:
    name: Figshare Support
    url: https://support.figshare.com/support/home
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.figshare.com/v2
tags:
- name: articles
paths:
  /articles:
    get:
      tags:
      - articles
      summary: Public Articles
      description: Returns a list of public articles
      operationId: articles_list
      parameters:
      - name: X-Cursor
        in: header
        description: Unique hash used for bypassing the item retrieval limit of 9,000 entities. When using this parameter, please note that the offset parameter will not be available, but the limit parameter will still work as expected.
        schema:
          type: string
      - name: page
        in: query
        description: Page number. Used for pagination with page_size
        schema:
          maximum: 5000
          minimum: 1
          type: integer
      - name: page_size
        in: query
        description: The number of results included on a page. Used for pagination with page
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 10
      - name: limit
        in: query
        description: Number of results included on a page. Used for pagination with query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Where to start the listing (the offset of the first result). Used for pagination with limit
        schema:
          maximum: 5000
          minimum: 0
          type: integer
      - name: order
        in: query
        description: The field by which to order. Default varies by endpoint/resource.
        schema:
          type: string
          default: published_date
          enum:
          - published_date
          - created_date
          - modified_date
          - views
          - shares
          - downloads
          - cites
      - name: order_direction
        in: query
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: institution
        in: query
        description: only return articles from this institution
        schema:
          type: integer
      - name: published_since
        in: query
        description: Filter by article publishing date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ
        schema:
          type: string
      - name: modified_since
        in: query
        description: Filter by article modified date. Will only return articles modified after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ
        schema:
          type: string
      - name: group
        in: query
        description: only return articles from this group
        schema:
          type: integer
      - name: resource_doi
        in: query
        description: Deprecated by related materials. Only return articles with this resource_doi
        schema:
          type: string
      - name: item_type
        in: query
        description: 'Only return articles with the respective type. Mapping for item_type is: 1 - Figure, 2 - Media, 3 - Dataset, 5 - Poster, 6 - Journal contribution, 7 - Presentation, 8 - Thesis, 9 - Software, 11 - Online resource, 12 - Preprint, 13 - Book, 14 - Conference contribution, 15 - Chapter, 16 - Peer review, 17 - Educational resource, 18 - Report, 19 - Standard, 20 - Composition, 21 - Funding, 22 - Physical object, 23 - Data management plan, 24 - Workflow, 25 - Monograph, 26 - Performance, 27 - Event, 28 - Service, 29 - Model'
        schema:
          type: integer
      - name: doi
        in: query
        description: only return articles with this doi
        schema:
          type: string
      - name: handle
        in: query
        description: only return articles with this handle
        schema:
          type: string
      responses:
        '200':
          description: OK. An array of articles
          headers:
            X-Cursor:
              description: Unique hash used for bypassing the item retrieval limit of 9,000 entities.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Article'
        '400':
          description: Bad Request
          content: {}
        '422':
          description: Unprocessable Entity. Syntax is correct but one of the parameters isn't correctly processed
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security: []
  /articles/search:
    post:
      tags:
      - articles
      summary: Public Articles Search
      description: Returns a list of public articles, filtered by the search parameters
      operationId: articles_search
      parameters:
      - name: X-Cursor
        in: header
        description: Unique hash used for bypassing the item retrieval limit of 9,000 entities. When using this parameter, please note that the offset parameter will not be available, but the limit parameter will still work as expected.
        schema:
          type: string
      requestBody:
        description: Search Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleSearch'
        required: false
      responses:
        '200':
          description: OK. An array of articles
          headers:
            X-Cursor:
              description: Unique hash used for bypassing the item retrieval limit of 9,000 entities.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArticleWithProject'
        '400':
          description: Bad Request
          content: {}
        '422':
          description: Unprocessable Entity. Syntax is correct but one of the parameters isn't correctly processed
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security: []
      x-codegen-request-body-name: search
  /articles/{article_id}:
    get:
      tags:
      - articles
      summary: View article details
      description: View an article
      operationId: article_details
      parameters:
      - name: article_id
        in: path
        description: Article Unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK. Article representation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleComplete'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security: []
      x-subcategory: Public Article
  /articles/{article_id}/versions:
    get:
      tags:
      - articles
      summary: List article versions
      description: List public article versions
      operationId: article_versions
      parameters:
      - name: article_id
        in: path
        description: Article Unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK. Article version representations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArticleVersions'
        '400':
          description: Bad Request. Article ID must be an integer and bigger than 0.
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security: []
      x-subcategory: Public Article
  /articles/{article_id}/versions/{version_id}:
    get:
      tags:
      - articles
      summary: Article details for version
      description: Article with specified version
      operationId: article_version_details
      parameters:
      - name: article_id
        in: path
        description: Article Unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: version_id
        in: path
        description: Article Version Number
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK. Article representation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleComplete'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security: []
      x-subcategory: Public Article
  /articles/{article_id}/versions/{version_id}/files:
    get:
      tags:
      - articles
      summary: Public Article version files
      description: Article version file details
      operationId: article_version_files
      parameters:
      - name: article_id
        in: path
        description: Article Unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: version_id
        in: path
        description: Article Version Unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Page number. Used for pagination with page_size
        schema:
          maximum: 5000
          minimum: 1
          type: integer
      - name: page_size
        in: query
        description: The number of results included on a page. Used for pagination with page
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 10
      - name: limit
        in: query
        description: Number of results included on a page. Used for pagination with query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Where to start the listing (the offset of the first result). Used for pagination with limit
        schema:
          maximum: 5000
          minimum: 0
          type: integer
      responses:
        '200':
          description: OK. List of article files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicFile'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security: []
      x-subcategory: Public Article files
  /articles/{article_id}/download:
    get:
      tags:
      - articles
      summary: Public Article Download
      description: Download files from a public article preserving the folder structure
      operationId: public_article_download
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: folder_path
        in: query
        description: Folder path to download. If not provided, all files from the article will be downloaded
        schema:
          type: string
      responses:
        '200':
          description: OK
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security: []
      x-subcategory: Public Article
  /articles/{article_id}/versions/{version_id}/download:
    get:
      tags:
      - articles
      summary: Public Article Version Download
      description: Download files from a certain version of an public article preserving the folder structure
      operationId: public_article_version_download
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: version_id
        in: path
        description: Version Number
        required: true
        schema:
          minimum: 1
          type: integer
      - name: folder_path
        in: query
        description: Folder path to download. If not provided, all files from the article will be downloaded
        schema:
          type: string
      responses:
        '200':
          description: OK
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security: []
      x-subcategory: Public Article
  /articles/{article_id}/versions/{version_id}/embargo:
    get:
      tags:
      - articles
      summary: Public Article Embargo for article version
      description: Embargo for article version
      operationId: article_version_embargo
      parameters:
      - name: article_id
        in: path
        description: Article Unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: version_id
        in: path
        description: Version Number
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK. Embargo representation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleEmbargo'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security: []
  /articles/{article_id}/versions/{version_id}/confidentiality:
    get:
      tags:
      - articles
      summary: Public Article Confidentiality for article version
      description: Confidentiality for article version. The confidentiality feature is now deprecated. This has been replaced by the new extended embargo functionality and all items that used to be confidential have now been migrated to items with a permanent embargo on files. All API endpoints related to this functionality will remain for backwards compatibility, but will now be attached to the new extended embargo workflows.
      operationId: article_version_confidentiality
      parameters:
      - name: article_id
        in: path
        description: Article Unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: version_id
        in: path
        description: Version Number
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK. Confidentiality representation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleConfidentiality'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security: []
  /articles/{article_id}/files:
    get:
      tags:
      - articles
      summary: List article files
      description: Files list for article
      operationId: article_files
      parameters:
      - name: article_id
        in: path
        description: Article Unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Page number. Used for pagination with page_size
        schema:
          maximum: 5000
          minimum: 1
          type: integer
      - name: page_size
        in: query
        description: The number of results included on a page. Used for pagination with page
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 10
      - name: limit
        in: query
        description: Number of results included on a page. Used for pagination with query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Where to start the listing (the offset of the first result). Used for pagination with limit
        schema:
          maximum: 5000
          minimum: 0
          type: integer
      responses:
        '200':
          description: OK. List of article files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicFile'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security: []
      x-subcategory: Public Article files
  /articles/{article_id}/files/{file_id}:
    get:
      tags:
      - articles
      summary: Article file details
      description: File by id
      operationId: article_file_details
      parameters:
      - name: article_id
        in: path
        description: Article Unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: file_id
        in: path
        description: File Unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK. File representation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicFile'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security: []
      x-subcategory: Public Article files
  /account/articles/search:
    post:
      tags:
      - articles
      summary: Private Articles search
      description: Returns a list of private articles filtered by the search parameters
      operationId: private_articles_search
      requestBody:
        description: Search Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateArticleSearch'
        required: true
      responses:
        '200':
          description: OK. An array of articles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArticleWithProject'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-codegen-request-body-name: search
  /account/articles:
    get:
      tags:
      - articles
      summary: Private Articles
      description: Get Own Articles
      operationId: private_articles_list
      parameters:
      - name: page
        in: query
        description: Page number. Used for pagination with page_size
        schema:
          maximum: 5000
          minimum: 1
          type: integer
      - name: page_size
        in: query
        description: The number of results included on a page. Used for pagination with page
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 10
      - name: limit
        in: query
        description: Number of results included on a page. Used for pagination with query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Where to start the listing (the offset of the first result). Used for pagination with limit
        schema:
          maximum: 5000
          minimum: 0
          type: integer
      responses:
        '200':
          description: OK. An array of articles belonging to the account
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Article'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
    post:
      tags:
      - articles
      summary: Create new Article
      description: Create a new Article by sending article information
      operationId: private_article_create
      requestBody:
        description: Article description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleCreate'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarnings'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article
      x-codegen-request-body-name: Article
  /account/articles/{article_id}:
    get:
      tags:
      - articles
      summary: Article details
      description: View a private article
      operationId: private_article_details
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK. Article representation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleCompletePrivate'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article
    put:
      tags:
      - articles
      summary: Update article
      description: Update an article by passing full body parameters.
      operationId: private_article_update
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        description: Full article representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleUpdate'
        required: true
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of newly created article
              schema:
                type: string
                format: link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarningsUpdate'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article
      x-codegen-request-body-name: Article
    delete:
      tags:
      - articles
      summary: Delete article
      description: Delete an article
      operationId: private_article_delete
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '204':
          description: No Content
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article
    patch:
      tags:
      - articles
      summary: Partially update article
      description: Partially update an article by sending only the fields to change.
      operationId: private_article_partial_update
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        description: Subset of article fields to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleUpdate'
        required: true
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of the updated article
              schema:
                type: string
                format: link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarningsUpdate'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article
      x-codegen-request-body-name: Article
  /account/articles/{article_id}/embargo:
    get:
      tags:
      - articles
      summary: Article Embargo Details
      description: View a private article embargo details
      operationId: private_article_embargo_details
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK. Embargo for article
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleEmbargo'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Embargo
    put:
      tags:
      - articles
      summary: Update Article Embargo
      description: 'Note: setting an article under whole embargo does not imply that the article will be published when the embargo will expire. You must explicitly call the publish endpoint to enable this functionality.'
      operationId: private_article_embargo_update
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        description: Embargo description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleEmbargoUpdater'
        required: true
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of embargo
              schema:
                type: string
                format: link
          content: {}
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Embargo
      x-codegen-request-body-name: Embargo
    delete:
      tags:
      - articles
      summary: Delete Article Embargo
      description: Will lift the embargo for the specified article
      operationId: private_article_embargo_delete
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '204':
          description: No Content
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Embargo
  /account/articles/{article_id}/resource:
    post:
      tags:
      - articles
      summary: Private Article Resource
      description: Edit article resource data.
      operationId: private_article_resource
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        description: Resource data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
        required: true
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location for account article details
              schema:
                type: string
                format: link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '422':
          description: Unprocessable Entity
          content: {}
      security:
      - OAuth2:
        - all
      x-codegen-request-body-name: Resource
  /account/articles/{article_id}/publish:
    post:
      tags:
      - articles
      summary: Private Article Publish
      description: '- If the whole article is under embargo, it will not be published immediately, but when the embargo expires or is lifted.

        - When an article is published, a new public version will be generated. Any further updates to the article will affect the private article data. In order to make these changes publicly visible, an explicit publish operation is needed.'
      operationId: account_article_publish
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location of newly published article
              schema:
                type: string
                format: link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
  /account/articles/{article_id}/unpublish:
    post:
      tags:
      - articles
      summary: Public Article Unpublish
      description: Allows authorized users to unpublish an article.
      operationId: account_article_unpublish
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        description: Article unpublish data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleUnpublishData'
        required: true
      responses:
        '204':
          description: No Content
          content: {}
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-codegen-request-body-name: reason
  /account/articles/{article_id}/reserve_doi:
    post:
      tags:
      - articles
      summary: Private Article Reserve DOI
      description: Reserve DOI for article
      operationId: private_article_reserve_doi
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleDOI'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
  /account/articles/{article_id}/reserve_handle:
    post:
      tags:
      - articles
      summary: Private Article Reserve Handle
      description: Reserve Handle for article
      operationId: private_article_reserve_handle
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleHandle'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
  /account/articles/{article_id}/download:
    get:
      tags:
      - articles
      summary: Private Article Download
      description: Download files from a private article preserving the folder structure
      operationId: private_article_download
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: folder_path
        in: query
        description: Folder path to download. If not provided, all files from the article will be downloaded
        schema:
          type: string
      responses:
        '200':
          description: OK
          content: {}
        '403':
          description: Insufficient permissions
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
  /account/articles/{article_id}/versions/{version_id}:
    put:
      tags:
      - articles
      summary: Update article version
      description: Updating an article version by passing body parameters.
      operationId: article_version_update
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: version_id
        in: path
        description: Article version identifier
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        description: Article description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleVersionUpdate'
        required: true
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of newly created article
              schema:
                type: string
                format: link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarningsUpdate'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Article version private updates
      x-codegen-request-body-name: Article
    patch:
      tags:
      - articles
      summary: Partially update article version
      description: Partially updating an article version by passing only the fields to change.
      operationId: article_version_partial_update
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: version_id
        in: path
        description: Article version identifier
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        description: Subset of article version fields to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleVersionUpdate'
        required: true
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of updated article version
              schema:
                type: string
                format: link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarningsUpdate'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Article version private updates
      x-codegen-request-body-name: Article
  /account/articles/{article_id}/versions/{version_id}/update_thumb:
    put:
      tags:
      - articles
      summary: Update article version thumbnail
      description: For a given public article version update the article thumbnail by choosing one of the associated files
      operationId: article_version_update_thumb
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: version_id
        in: path
        description: Article version identifier
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        description: File ID
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileId'
        required: true
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location for article version details
              schema:
                type: string
                format: link
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '422':
          description: Unprocessable Entity
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Article version private updates
      x-codegen-request-body-name: FileId
  /account/articles/{article_id}/authors:
    get:
      tags:
      - articles
      summary: List article authors
      description: List article authors
      operationId: private_article_authors_list
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK. Authors list for article
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Author'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Authors
    put:
      tags:
      - articles
      summary: Replace article authors
      description: Associate new authors with the article. This will remove all already associated authors and add these new ones
      operationId: private_article_authors_replace
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        description: Authors description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorsCreator'
        required: true
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              schema:
                type: string
                format: url
          content: {}
        '400':
          description: Bad Request. Article ID must be an integer and bigger than 0. Author with ID Not Found.
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Authors
      x-codegen-request-body-name: Authors
    post:
      tags:
      - articles
      summary: Add article authors
      description: Associate new authors with the article. This will add new authors to the list of already associated authors
      operationId: private_article_authors_add
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        description: Authors description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorsCreator'
        required: true
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              schema:
                type: string
                format: url
          content: {}
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Authors
      x-codegen-request-body-name: Authors
  /account/articles/{article_id}/authors/{author_id}:
    delete:
      tags:
      - articles
      summary: Delete article author
      description: De-associate author from article
      operationId: private_article_author_delete
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: author_id
        in: path
        description: Article Author unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '204':
          description: No Content
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Authors
  /account/articles/{article_id}/categories:
    get:
      tags:
      - articles
      summary: List article categories
      description: List article categories
      operationId: private_article_categories_list
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK. Article categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Categories
    put:
      tags:
      - articles
      summary: Replace article categories
      description: Associate new categories with the article. This will remove all already associated categories and add these new ones
      operationId: private_article_categories_replace
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriesCreator'
        required: true
      responses:
        '205':
          description: Reset Content
          content: {}
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Categories
      x-codegen-request-body-name: categories
    post:
      tags:
      - articles
      summary: Add article categories
      description: Associate new categories with the article. This will add new categories to the list of already associated categories
      operationId: private_article_categories_add
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriesCreator'
        required: true
      responses:
        '205':
          description: Reset Content
          content: {}
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Categories
      x-codegen-request-body-name: categories
  /account/articles/{article_id}/categories/{category_id}:
    delete:
      tags:
      - articles
      summary: Delete article category
      description: De-associate category from article
      operationId: private_article_category_delete
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: category_id
        in: path
        description: Category unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '204':
          description: No Content
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Categories
  /account/articles/{article_id}/confidentiality:
    get:
      tags:
      - articles
      summary: Article confidentiality details
      description: View confidentiality settings. The confidentiality feature is now deprecated. This has been replaced by the new extended embargo functionality and all items that used to be confidential have now been migrated to items with a permanent embargo on files. All API endpoints related to this functionality will remain for backwards compatibility, but will now be attached to the new extended embargo workflows.
      operationId: private_article_confidentiality_details
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK. Article categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleConfidentiality'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Confidentiality - DEPRECATED
    put:
      tags:
      - articles
      summary: Update article confidentiality
      description: Update confidentiality settings. The confidentiality feature is now deprecated. This has been replaced by the new extended embargo functionality and all items that used to be confidential have now been migrated to items with a permanent embargo on files. All API endpoints related to this functionality will remain for backwards compatibility, but will now be attached to the new extended embargo workflows.
      operationId: private_article_confidentiality_update
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialityCreator'
        required: true
      responses:
        '205':
          description: Reset Content
          content: {}
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Confidentiality - DEPRECATED
      x-codegen-request-body-name: reason
    delete:
      tags:
      - articles
      summary: Delete article confidentiality
      description: Delete confidentiality settings. The confidentiality feature is now deprecated. This has been replaced by the new extended embargo functionality and all items that used to be confidential have now been migrated to items with a permanent embargo on files. All API endpoints related to this functionality will remain for backwards compatibility, but will now be attached to the new extended embargo workflows.
      operationId: private_article_confidentiality_delete
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '204':
          description: No Content
          content: {}
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Confidentiality - DEPRECATED
  /account/articles/{article_id}/private_links:
    get:
      tags:
      - articles
      summary: List private links
      description: List private links
      operationId: private_article_private_link
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK. Article private links
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrivateLink'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Private Links
    post:
      tags:
      - articles
      summary: Create private link
      description: Create new private link for this article
      operationId: private_article_private_link_create
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkCreator'
        required: false
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location of private link
              schema:
                type: string
                format: url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResponse'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '422':
          description: Unprocessable Entity
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Private Links
      x-codegen-request-body-name: private_link
  /account/articles/{article_id}/private_links/{link_id}:
    put:
      tags:
      - articles
      summary: Update private link
      description: Update existing private link for this article
      operationId: private_article_private_link_update
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: link_id
        in: path
        description: Private link token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkCreator'
        required: false
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of private link
              schema:
                type: string
                format: url
          content: {}
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '422':
          description: Unprocessable Entity
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Private Links
      x-codegen-request-body-name: private_link
    delete:
      tags:
      - articles
      summary: Disable private link
      description: Disable/delete private link for this article
      operationId: private_article_private_link_delete
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: link_id
        in: path
        description: Private link token
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
          content: {}
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Private Links
  /account/articles/{article_id}/files:
    get:
      tags:
      - articles
      summary: List article files
      description: List private files
      operationId: private_article_files_list
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Page number. Used for pagination with page_size
        schema:
          maximum: 5000
          minimum: 1
          type: integer
      - name: page_size
        in: query
        description: The number of results included on a page. Used for pagination with page
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 10
      - name: limit
        in: query
        description: Number of results included on a page. Used for pagination with query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Where to start the listing (the offset of the first result). Used for pagination with limit
        schema:
          maximum: 5000
          minimum: 0
          type: integer
      responses:
        '200':
          description: OK. Article files list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrivateFile'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Files
    post:
      tags:
      - articles
      summary: Initiate Upload
      description: Initiate a new file upload within the article. Either use the link property to point to an existing file that resides elsewhere and will not be uploaded to Figshare or use the other 3 parameters (md5, name, size).
      operationId: private_article_upload_initiate
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Page number. Used for pagination with page_size
        schema:
          maximum: 5000
          minimum: 1
          type: integer
      - name: page_size
        in: query
        description: The number of results included on a page. Used for pagination with page
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 10
      - name: limit
        in: query
        description: Number of results included on a page. Used for pagination with query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Where to start the listing (the offset of the first result). Used for pagination with limit
        schema:
          maximum: 5000
          minimum: 0
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileCreator'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location of new file
              schema:
                type: string
                format: url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '422':
          description: Unprocessable Entity. Parameters missing or incorrect
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Files
      x-codegen-request-body-name: File
  /account/articles/{article_id}/files/{file_id}:
    get:
      tags:
      - articles
      summary: Single File
      description: View details of file for specified article
      operationId: private_article_file
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: file_id
        in: path
        description: File unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK. Article private file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFile'
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Files
    post:
      tags:
      - articles
      summary: Complete Upload
      description: Complete file upload
      operationId: private_article_upload_complete
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: file_id
        in: path
        description: File unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '202':
          description: Accepted
          content: {}
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Files
    delete:
      tags:
      - articles
      summary: File Delete
      description: Complete file upload
      operationId: private_article_file_delete
      parameters:
      - name: article_id
        in: path
        description: Article unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      - name: file_id
        in: path
        description: File unique identifier
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '204':
          description: No Content
          content: {}
        '400':
          description: Bad Request
          content: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
      x-subcategory: Private Article Files
  /account/articles/export:
    get:
      tags:
      - articles
      summary: Account Article Report
      description: Return status on all reports generated for the account from the oauth credentials
      operationId: account_article_report
      parameters:
      - name: group_id
        in: query
        description: A group ID to filter by
        schema:
          type: integer
      responses:
        '200':
          description: OK. An array of account report entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountReport'
        '400':
          description: Bad Request
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
    post:
      tags:
      - articles
      summary: Initiate a new Report
      description: Initiate a new Article Report for this Account. There is a limit of 1 report per day.
      operationId: account_article_report_generate
      responses:
        '200':
          description: OK. AccountReport created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountReport'
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - OAuth2:
        - all
components:
  schemas:
    ArticleVersions:
      required:
      - url
      - version
      type: object
      properties:
        version:
          type: integer
          description: Version number
          example: 1
        url:
          type: string
          description: Api endpoint for the item version
          format: url
          example: https://api.figshare.com/v2/articles/2000005/versions/1
      x-tag: articles
    LocationWarningsUpdate:
      required:
      - location
      - warnings
      type: object
      properties:
        location:
          type: string
          description: Url for entity
          format: url
        warnings:
          type: array
          description: Issues encountered during the operation
          items:
            type: string
      x-tag: common
    ArticleCompletePrivate:
      required:
      - account_id
      - curation_status
      properties:
        account_id:
          type: integer
          description: ID of the account owning the article
          example: 1000001
        curation_status:
          type: string
          description: Curation status of the article
          example: approved
      allOf:
      - $ref: '#/components/schemas/ArticleComplete'
      x-tag: articles
    ArticleUnpublishData:
      required:
      - reason
      type: object
      properties:
        reason:
          maxLength: 500
          minLength: 5
          type: string
          description: Reason of article unpublishing
          example: Unpublish article reason
      x-tag: articles
    License:
      required:
      - name
      - url
      - value
      type: object
      properties:
        value:
          type: integer
          description: License value
          example: 1
        name:
          type: string
          description: License name
          example: CC BY
        url:
          type: string
          description: License url
          format: url
          example: http://creativecommons.org/licenses/by/4.0/
      x-tag: institutions
    ProjectArticle:
      required:
      - categories
      - citation
      - confidential_reason
      - created_date
      - description
      - embargo_reason
      - embargo_title
      - funding
      - funding_list
      - has_linked_file
      - is_confidential
      - is_embargoed
      - is_metadata_record
      - is_public
      - keywords
      - license
      - metadata_reason
      - references
      - size
      - status
      - tags
      - version
      properties:
        citation:
          type: string
          description: Article citation
          example: "lilliput, figshare admin (2017): first project item. figshare.\n \n Retrieved: 14 01, May 22, 2017 (GMT)"
        confidential_reason:
          type: string
          description: Confidentiality reason
          example: none
        is_confidential:
          type: boolean
          description: Article Confidentiality
          example: true
        size:
          type: integer
          description: Article size
          example: 69939
        funding:
          type: string
          description: Article funding
          example: none
        funding_list:
          type: array
          description: Full Article funding information
          items:
            $ref: '#/components/schemas/FundingInformation'
        tags:
          type: array
          description: List of article tags. Keywords can be used instead
          example:
          - t1
          - t2
          - t3
          items:
            type: string
        keywords:
          type: array
          description: List of article keywords. Tags can be used instead
          example:
          - t1
          - t2
          - t3
          items:
            type: string
        version:
          type: integer
          description: Article version
          example: 1
        is_metadata_record:
          type: boolean
          description: True if article has no files
          example: false
        metadata_reason:
          type: string
          description: Article metadata reason
          example: hosted somewhere else
        status:
          type: string
          description: Article status
          example: public
        description:
          type: string
          description: Article description
          example: article description
        is_embargoed:
          type: boolean
          description: True if article is embargoed
          example: true
        is_public:
          type: boolean
          description: True if article is published
          example: true
        created_date:
          type: string
          description: Date when article was created
          example: '2017-05-18T11:49:03Z'
        has_linked_file:
          type: boolean
          description: True if any files are linked to the article
          example: true
        categories:
          type: array
          description: List of categories selected for the article
          items:
            $ref: '#/components/schemas/Category'
        license:
          $ref: '#/components/schemas/License'
        embargo_title:
          type: string
          description: Title for embargo
          example: File(s) under embargo
        embargo_reason:
          type: string
          description: Reason for embargo
          example: not complete
        references:
          type: array
          description: List of references
          example:
          - http://figshare.com
          - http://figshare.com/api
          items:
            type: string
            format: url
        related_materials:
          type: array
          description: List of related materials; supersedes references and resource DOI/title.
          example:
          - id: 10432
            identifier: 10.6084/m9.figshare.1407024
            identifier_type: DOI
            relation: IsSupplementTo
            title: Figshare for institutions brochure
            is_linkout: false
          items:
            $ref: '#/components/schemas/RelatedMaterial'
      allOf:
      - $ref: '#/components/schemas/Article'
      x-tag: articles
    CommonSearch:
      type: object
      properties:
        search_for:
          type: string
          description: Search term
          example: figshare
        page:
          maximum: 5000
          minimum: 1
          type: integer
          description: Page number. Used for pagination with page_size
          example: 1
        page_size:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of results included on a page. Used for pagination with page
          example: 10
          default: 10
        limit:
          maximum: 1000
          minimum: 1
          type: integer
          description: Number of results included on a page. Used for pagination with query
          example: 10
        offset:
          maximum: 5000
          minimum: 0
          type: integer
          description: Where to start the listing (the offset of the first result). Used for pagination with limit
          example: 0
        order_direction:
          type: string
          description: Direction of ordering
          example: desc
          default: desc
          enum:
          - asc
          - desc
        institution:
          type: integer
          description: only return collections from this institution
          example: 2000013
        published_since:
          type: string
          description: Filter by article publishing date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ
          example: '2017-12-22'
        modified_since:
          type: string
          description: Filter by article modified date. Will only return articles modified after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ
          example: '2017-12-22'
        group:
          type: integer
          description: only return collections from this group
          example: 2000013
      x-tag: common
    Location:
      required:
      - location
      type: object
      properties:
        location:
          type: string
          description: Url for item
          format: url
      x-tag: common
    Author:
      required:
      - first_name
      - full_name
      - id
      - is_active
      - last_name
      - orcid_id
      - url_name
      type: object
      properties:
        id:
          type: integer
          description: Author id
          example: 97657
        full_name:
          type: string
          description: Author full name
          example: John Doe
        first_name:
          type: string
          description: Author first name
          example: John
        last_name:
          type: string
          description: Author last name
          example: Doe
        is_active:
          type: boolean
          description: True if author has published items
          example: false
        url_name:
          type: string
          description: Author url name
          example: John_Doe
        orcid_id:
          type: string
          description: Author Orcid
          example: 1234-5678-9123-1234
      x-tag: authors
    ArticleVersionUpdate:
      type: object
      properties:
        supplementary_fields:
          type: array
          description: List of supplementary fields to be associated with the article version
          example:
          - name: abc
            value: def
          - name: fname
            value: fvalue
          items:
            type: object
            properties: {}
        internal_metadata:
          type: object
          properties: {}
          description: List of supplementary fields to be associated with the article version
          example:
            curation_review_date: '2021-11-16T13:03:38'
            export_pdf_download_url: null
      x-tag: article_version
    FileCreator:
      type: object
      properties:
        link:
          type: string
          description: Url for an existing file that will not be uploaded to Figshare
          example: http://figshare.com/file.txt
        md5:
          type: string
          description: MD5 sum pre-computed on client side.
          example: 6c16e6e7d7587bd078e5117dda01d565
        name:
          type: string
          description: File name including the extension; can be omitted only for linked files.
          example: test.py
        size:
          type: integer
          description: File size in bytes; can be omitted only for linked files.
          example: 70
        folder_path:
          type: string
          description: Unix-style directory path of the file; only available if the file was uploaded within a folder structure
          example: /level1/level2/level3
      x-tag: articles
    RelatedMaterial:
      type: object
      properties:
        id:
          type: integer
          description: The ID of the related material; can be used to add existing materials of the same account to items.
          example: 10432
        identifier:
          type: string
          description: The related material identifier (e.g., DOI, Handle, ISBN). Mandatory if creating a new material.
          example: 10.6084/m9.figshare.1407024
        title:
          type: string
          description: The related material title
          example: 'Rooter: A Methodology for the Typical Unification of Access Points and Redundancy'
        relation:
          type: string
          description: The relation between the item and the related material; defaults to 'References'. Mandatory if creating a new material.
          example: IsSupplementTo
          default: References
          enum:
          - IsCitedBy
          - Cites
          - IsSupplementTo
          - IsSupplementedBy
          - IsContinuedBy
          - Continues
          - Describes
          - IsDescribedBy
          - HasMetadata
          - IsMetadataFor
          - HasVersion
          - IsVersionOf
          - IsNewVersionOf
          - IsPreviousVersionOf
          - IsPartOf
          - HasPart
          - IsPublishedIn
          - IsReferencedBy
          - References
          - IsDocumentedBy
          - Documents
          - IsCompiledBy
          - Compiles
          - IsVariantFormOf
          - IsOriginalFormOf
          - IsIdenticalTo
          - IsReviewedBy
          - Reviews
          - IsDerivedFrom
          - IsSourceOf
          - IsRequiredBy
          - Requires
          - IsObsoletedBy
          - Obsoletes
        identifier_type:
          type: string
          description: The type of the identifier of the related material; defaults to 'URL'. Mandatory if creating a new material.
          example: DOI
          default: URL
          enum:
          - ARK
          - arXiv
          - bibcode
          - DOI
          - EAN13
          - EISSN
          - Handle
          - IGSN
          - ISBN
          - ISSN
          - ISTC
          - LISSN
          - LSID
          - PMID
          - PURL
          - UPC
          - URL
          - URN
          - w3id
        is_linkout:
          type: boolean
          description: Flag for highlighting this related material in the call-out box
          example: true
        link:
          type: string
          description: The full hyperlink for the identifier. Automatically generated by Figshare.
          readOnly: true
          example: https://doi.org/10.6084/m9.figshare.1407024
    AuthorsCreator:
      required:
      - authors
      type: object
      properties:
        authors:
          type: array
          description: 'List of authors to be associated with the article. The list can contain the following fields: id, name, first_name, last_name, email, orcid_id. If an id is supplied, it will take priority and everything else will be ignored. For adding more authors use the specific authors endpoint.'
          example:
          - id: 12121
          - id: 34345
          - name: John Doe
          items:
            type: object
            properties: {}
      x-tag: articles
    Article:
      required:
      - created_date
      - defined_type
      - defined_type_name
      - doi
      - handle
      - id
      - resource_doi
      - resource_title
      - thumb
      - timeline
      - title
      - url
      - url_private_api
      - url_private_html
      - url_public_api
      - url_public_html
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for article
          example: 1434614
        title:
          type: string
          description: Title of article
          example: Test article title
        doi:
          type: string
          description: DOI
          example: 10.6084/m9.figshare.1434614
        handle:
          type: string
          description: Handle
          example: 111184/figshare.1234
        url:
          type: string
          description: Api endpoint for article
          format: url
          example: http://api.figshare.com/articles/1434614
        url_public_html:
          type: string
          description: Public site endpoint for article
          format: url
          example: https://figshare.com/articles/media/Test_article_title/1434614
        url_public_api:
          type: string
          description: Public Api endpoint for article
          format: url
          example: https://api.figshare.com/articles/1434614
        url_private_html:
          type: string
          description: Private site endpoint for article
          format: url
          example: https://figshare.com/account/articles/1434614
        url_private_api:
          type: string
          description: Private Api endpoint for article
          format: url
          example: https://api.figshare.com/account/articles/1434614
        timeline:
          $ref: '#/components/schemas/Timeline'
        thumb:
          type: string
          description: Thumbnail image
          format: url
          example: https://ndownloader.figshare.com/files/123456789/preview/12345678/thumb.png
        defined_type:
          type: integer
          description: Type of article identifier
          example: 3
        defined_type_name:
          type: string
          description: Name of the article type identifier
          example: media
        resource_doi:
          type: string
          description: Deprecated by related materials. Not applicable to regular users. In a publisher case, this is the publisher article DOI.
          default: ''
        resource_title:
          type: string
          description: Deprecated by related materials. Not applicable to regular users. In a publisher case, this is the publisher article title.
          default: ''
        created_date:
          type: string
          description: Date when article was created
          example: '2017-05-18T11:49:03Z'
      x-tag: articles
    ArticleConfidentiality:
      required:
      - is_confidential
      - reason
      type: object
      properties:
        is_confidential:
          type: boolean
          description: True if article is confidential
          example: true
        reason:
          type: string
          description: Reason for confidentiality
          example: need to
      x-tag: articles
    ArticleUpdate:
      type: object
      properties:
        title:
          maxLength: 1000
          minLength: 3
          type: string
          description: Title of article
          example: Test article title
        description:
          maxLength: 20000
          type: string
          description: The article description. In a publisher case, usually this is the remote article description
          example: Test description of article
          default: ''
        is_metadata_record:
          type: boolean
          description: True if article has no files
          example: true
        metadata_reason:
          type: string
          description: Article metadata reason
          example: hosted somewhere else
        tags:
          type: array
          description: List of tags to be associated with the article. Keywords can be used instead
          example:
          - tag1
          - tag2
          items:
            type: string
        keywords:
          type: array
          description: List of tags to be associated with the article. Tags can be used instead
          example:
          - tag1
          - tag2
          items:
            type: string
        references:
          type: array
          description: List of links to be associated with the article (e.g ["http://link1", "http://link2", "http://link3"])
          example:
          - http://figshare.com
          - http://api.figshare.com
          items:
            type: string
            format: link
        related_materials:
          type: array
          description: List of related materials; supersedes references and resource DOI/title.
          example:
          - id: 10432
            identifier: 10.6084/m9.figshare.1407024
            identifier_type: DOI
            relation: IsSupplementTo
            title: Figshare for institutions brochure
            is_linkout: false
          items:
            $ref: '#/components/schemas/RelatedMaterial'
        categories:
          type: array
          description: List of category ids to be associated with the article(e.g [1, 23, 33, 66])
          example:
          - 1
          - 10
          - 11
          items:
            type: integer
        categories_by_source_id:
          type: array
          description: List of category source ids to be associated with the article, supersedes the categories property
          example:
          - '300204'
          - '400207'
          items:
            type: string
        authors:
          type: array
          description: 'List of authors to be associated with the article. The list can contain the following fields: id, name, first_name, last_name, email, orcid_id. If an id is supplied, it will take priority and everything else will be ignored. For adding more authors use the specific authors endpoint.'
          example:
          - name: John Doe
          - id: 1000008
          items:
            type: object
            properties: {}
        custom_fields:
          type: object
          properties: {}
          description: List of key, values pairs to be associated with the article
          example:
            defined_key: value for it
        custom_fields_list:
          type: array
          description: List of custom fields values, supersedes custom_fields parameter
          items:
            $ref: '#/components/schemas/CustomArticleFieldAdd'
        defined_type:
          type: string
          description: <b>One of:</b> <code>figure</code> <code>online resource</code> <code>preprint</code> <code>book</code> <code>conference contribution</code> <code>media</code> <code>dataset</code> <code>poster</code> <code>journal contribution</code> <code>presentation</code> <code>thesis</code> <code>software</code>
          example: media
        funding:
          type: string
          description: Grant number or funding authority
          default: ''
        funding_list:
          type: array
          description: Funding creation / update items
          items:
            $ref: '#/components/schemas/FundingCreate'
        license:
          type: integer
          description: License id for this article.
          example: 1
          default: 0
        doi:
          type: string
          description: Not applicable for regular users. In an institutional case, make sure your group supports setting DOIs. This setting is applied by figshare via opening a ticket through our support/helpdesk system.
          default: ''
        handle:
          type: string
          description: Not applicable for regular users. In an institutional case, make sure your group supports setting Handles. This setting is applied by figshare via opening a ticket through our support/helpdesk system.
          default: ''
        resource_doi:
          type: string
          description: Deprecated by related materials. Not applicable to regular users. In a publisher case, this is the publisher article DOI.
          default: ''
        resource_title:
          type: string
          description: Deprecated by related materials. Not applicable to regular users. In a publisher case, this is the publisher article title.
          default: ''
        timeline:
          $ref: '#/components/schemas/TimelineUpdate'
        download_disabled:
          type: boolean
          description: If true, downloading of files for this article is disabled
          example: false
        group_id:
          type: integer
          description: Not applicable to regular users. This field is reserved to institutions/publishers with access to assign to specific groups
      x-tag: articles
    ArticleEmbargo:
      required:
      - embargo_options
      - embargo_reason
      - embargo_title
      - is_embargoed
      type: object
      properties:
        is_embargoed:
          type: boolean
          description: True if embargoed
          example: true
        embargo_title:
          type: string
          description: Title for embargo
          example: File(s) under embargo
        embargo_reason:
          type: string
          description: Reason for embargo
          example: ''
        embargo_options:
          type: array
          description: List of embargo permissions that are associated with the article. If the type is logged_in and the group_ids list is empty, then the whole institution can see the article; if there are multiple group_ids, then only users that are under those groups can see the article.
          example:
          - id: 13
            type: ip_range
            group_ids: []
            ip_name: bacau
          - id: 12
            type: logged_in
            ip_name: ''
            group_ids:
            - 550
            - 9448
          items:
            type: object
            properties: {}
      x-tag: articles
    ErrorMessage:
      type: object
      properties:
        code:
          type: integer
          description: A machine friendly error code, used by the dev team to identify the error.
        message:
          type: string
          description: A human friendly message explaining the error.
      x-tag: common
    Category:
      required:
      - id
      - parent_id
      - path
      - source_id
      - taxonomy_id
      - title
      type: object
      properties:
        parent_id:
          type: integer
          description: Parent category
          example: 1
        id:
          type: integer
          description: Category id
          example: 11
        title:
          type: string
          description: Category title
          example: Anatomy
        path:
          type: string
          description: Path to all ancestor ids
          example: /450/1024/6532
        source_id:
          type: string
          description: ID in original standard taxonomy
          example: '300204'
        taxonomy_id:
          type: integer
          description: Internal id of taxonomy the category is part of
          example: 4
      x-tag: common
    PrivateFile:
      required:
      - is_attached_to_public_version
      - preview_state
      - upload_token
      - upload_url
      - viewer_type
      properties:
        viewer_type:
          type: string
          description: File viewer type
        preview_state:
          type: string
          description: File preview state
          example: preview not available
        upload_url:
          type: string
          description: Upload url for file
          format: url
          example: https://uploads.figshare.com
        upload_token:
          type: string
          description: Token for file upload
          example: 9dfc5fe3-d617-4d93-ac11-8afe7e984a4b
        is_attached_to_public_version:
          type: boolean
          description: True if the file is attached to a public item version
          example: true
      allOf:
      - $ref: '#/components/schemas/PublicFile'
      x-tag: common
    PrivateLink:
      required:
      - expires_date
      - html_location
      - id
      - is_active
      type: object
      properties:
        id:
          type: string
          description: Private link id
          example: 0cfb0dbeac92df445df4aba45f63fdc85fa0b9a888b64e157ce3c93b576aa300fb3621ef3a219515dd482
        is_active:
          type: boolean
          description: True if private link is active
          example: true
        expires_date:
          type: string
[...]
